.custom-navbar {
  position: flex;
  width: 100%;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 0;
  z-index: 100;
  border-radius: 25px;
  overflow: hidden;
}

.leave {
  padding-left: 10px;
}
