.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.slider-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}
  
.slider-image {
    max-width: 100%;
    max-height: 300px; /* Adjust the maximum height as needed */
}
  