.tool-bar {
  padding-top: 160px;
  width: 50px;
  height: 100%;
}
  
.rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid #000;
  border-radius: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 8px 0;
  user-select: none;
}

.icon2 {
  width: 38px;
  height: 38px;
  margin: 8px 0;
  user-select: none;
}

.text {
  font-size: 24px;
  margin: 8px 0;
  user-select: none;
}
